.vs/
ddostools/Debug/
ddostools/x64/
Debug/
dllCore/Debug/
dllCore/x64/
dllKc/Debug/
dllKc/x64/
FiveFifty/Debug/
FiveFifty/x64/
kmblack/Debug/
kmblack/x64/
part01/Debug/
part01/x64/
part02/Debug/
part02/x64/
part03/Debug/
part03/x64/
part04/Debug/
part04/x64/
part05/Debug/
part05/x64/
part06/Debug/
part06/x64/
part07/Debug/
part07/x64/
part08/Debug/
part08/x64/
part09/Debug/
part09/x64/
part10/Debug/
part10/x64/
part11/Debug/
part11/x64/
part12/Debug/
part12/x64/
regex/build/
regex/x64/
stack_dynamic_string_array/Debug/
stack_dynamic_string_array/x64/
UdpServer/Debug/
UdpServer/x64/
UdpServer/plugins/
x64/
data.db
